:root {
  --rgb-white: 255, 255, 255;
  --rgb-accent: 255, 145, 136;
  --rgb-background: 52, 22, 142;
  --rgb-background-light: 63, 31, 161;

  --color-primary: rgb(var(--rgb-white));
  --color-accent: rgb(var(--rgb-accent));
  --color-background: rgb(var(--rgb-background));
  --color-text: rgb(var(--rgb-white));

  --font-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
  --font-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
  --font-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
  --font-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
  --font-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
  --font-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
  --font-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Manrope";
  src:
    local("Manrope"),
    url("/fonts/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  src:
    local("Bebas Neue"),
    url("/fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Dancing Script";
  src:
    local("Dancing Script"),
    url("/fonts/dancing-script.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src:
    local("Raleway"),
    url("/fonts/raleway.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  src:
    local("Oswald"),
    url("/fonts/oswald.ttf") format("truetype");
}

html {
  font-family: "Raleway", system-ui, sans-serif;
  background: #13151a;
}

body {
  color: var(--color-text);
  margin: 0;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

h1 {
  font-family: Oswald, system-ui, sans-serif;
  font-size: var(--font-xxl);
}

h2 {
  font-family: Oswald, system-ui, sans-serif;
  font-size: var(--font-xl);
}

p {
  font-size: var(--font-base);
  line-height: 1.8rem;
}

button {
  border: none;
  padding: 1rem;
  font-family: Oswald, system-ui, sant-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-primary);
  background: rgba(var(--rgb-accent), 0.8);
  transition: background 0.3s ease;
}

button:hover {
  background: rgba(var(--rgb-accent), 1);
}

*:focus-visible {
  outline-style: solid;
}

section {
  background: var(--color-background);
  padding: 5vw 10vw 1px 10vw;
}

section h2 {
  letter-spacing: 0.8rem;
}
