---
import Page from "../layouts/Page.astro";
import Header from "../components/Header.astro";
import Hero from "../components/PortraitHero.astro";
import ContentWrapper from "../components/ContentWrapper.astro";
---

<Page title="Marlene Kriems - Webdesign">
  <Header />
  <Hero />
  <main>
    <section>
      <ContentWrapper>
        <h2>hi there!</h2>
        <p>
          Welcome to my way of webdesigning, where functonality and style come
          together seamlessly!
        </p>
        <p>
          With my fancy for blending aesthetics with functionality and
          responsive design, I make sure that your site looks amazing on every
          device.
        </p>
        <p>
          I prioritize an awesome user experience (UX) and an intuitive user
          interface (UI). With meticulous layout design, I bring your message
          and content to life. Every element is strategically placed to grab
          attention exactly where you want it.
        </p>
        <p>
          And don't worry, your site will be fully optimized for mobile too.
        </p>
      </ContentWrapper>
    </section>
    <section id="projects">
      <ContentWrapper>
        <h2>my projects</h2>
        <p>
          Welcome to my way of webdesigning, where functonality and style come
          together seamlessly!
        </p>
        <p>
          With my fancy for blending aesthetics with functionality and
          responsive design, I make sure that your site looks amazing on every
          device.
        </p>
        <p>
          I prioritize an awesome user experience (UX) and an intuitive user
          interface (UI). With meticulous layout design, I bring your message
          and content to life. Every element is strategically placed to grab
          attention exactly where you want it.
        </p>
        <p>
          And don't worry, your site will be fully optimized for mobile too.
        </p>
      </ContentWrapper>
    </section>
    <section id="about">
      <ContentWrapper>
        <h2>about me</h2>
        <p>
          Hey, I'm Marlene, juggling the joys of motherhood with being the
          better half of a developer. Always up for a challenge - constantly
          reinventing myself!
        </p>
        <p>
          My entry into web design began with a deep passion for aesthetics and
          self-directed learning.
        </p>
        <p>
          I gained my first experiences as a web designer two years ago at
          SailrsGmbH, where I successfully completed initial client projects,
          including both websites and app designs. At the beginning of this
          year, I decided to pursue a path of self-employment to work more
          freely and creatively.
        </p>
        <p>
          I prefer the combination of aesthetics and minimalism, which allows me
          to create clean, user-friendly, and visually appealing designs. I also
          work on my own projects and continuously educate myself to keep up
          with the latest trends and technologies. My goal is to provide genuine
          value to my clients through innovative and functional designs.
        </p>
        <p>
          But I'm not just about client projects. I am also passionate about my
          personal endeavors, where I cultivated my unique style by crafting
          designs and logos from scratch.
        </p>
        <p>
          And let's not forget my love affair with AI tools - always looking for
          the next big thing to jazz up my creative process!
        </p>
        <p>
          So, if you're looking for someone who can sprinkle a bit of magic on
          your projects, look no further. With a dash of creativity, a sprinkle
          of professionalism, and a whole lot of attention to detail, I'm your
          go-to gal for all things design in the freelance world!
        </p>
      </ContentWrapper>
    </section>
    <section id="contact">
      <ContentWrapper>
        <h2>send me a message</h2>
        <form class="contact-form">
          <input class="form-input" placeholder="Name" required />
          <input
            type="email"
            class="form-input"
            placeholder="E-Mail"
            required
          />
          <textarea class="form-input" placeholder="Message" required
          ></textarea>
          <button type="submit">submit</button>
        </form>
      </ContentWrapper>
    </section>
  </main>
</Page>

<style>
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .form-input {
    width: 100%;
    padding: 1rem;
    border: none;
    text-transform: uppercase;
    font-family: BebasNeue, system-ui, sans-serif;
    font-size: var(--font-md);
    letter-spacing: 0.1rem;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.12);
  }

  textarea.form-input {
    min-height: 200px;
  }
</style>
