---
type Props = {
  url?: string;
  cite?: string;
};

const { url, cite } = Astro.props;

---
<blockquote cite={url}>
  <p>
    <slot />
  </p>
  {cite && <cite>{cite}</cite>}
</blockquote>

<style>
  blockquote {
    /* position: relative; */
  }

  blockquote::before {
    content: "❝";
    font-size: 3rem;
    position: relative;
    color: var(--color-accent);
    left: 50%;
  }

  p {
    margin: 0;
    font-family: "Dancing Script", serif;
    font-size: var(--font-lg);
  }
</style>
