---
import type { HTMLAttributes } from 'astro/types';
type Props = HTMLAttributes<'a'>;
const { class: className, ...props } = Astro.props;
---

<a class:list={[className]} {...props}>
  <slot />
</a>

<style>
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 60px;
    padding: 14px 20px;
    margin: 8px 0;

    font-family: BebasNeue, system-ui, sant-serif;
    font-size: 1.2rem;
    background: var(--color-accent);
    color: var(--color-background);
    backdrop-filter: blur(10px);
    transition: background 0.3s;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
  }

  a:hover {
    background: rgba(var(--rgb-accent), 0.7);
  }
</style>
