<button type="button" class="cta-btn">
  <slot />
</button>

<style>
  .cta-btn {
    width: 210px;
    height: 60px;
    padding: 14px 20px;
    margin: 8px 0;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transition: background 0.3s;
  }

  .cta-btn:hover {
    background: rgba(255, 255, 255, 0.2);
  }
</style>
