---
import Cta from './Cta.astro'
import ContentWrapper from './ContentWrapper.astro'
import BlockQuote from "./BlockQuote.astro";
---

<div class="hero">
  <ContentWrapper>
    <div class="hero-content">
      <div class="titles">
        <h1 class="title">Marlene<br/>Kriems</h1>
        <h2 class="subtitle">webdesign</h2>
      </div>
      <div class="contact">
        <div class="contact__wrapper">
          <Cta href="#contact">kontakt</Cta>
        </div>
      </div>
    </div>
  </ContentWrapper>
</div>

<style>
  .titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title {
    display: inline-block;
    color: var(--color-text);
    text-transform: uppercase;
    padding-top: 10dvh;
    letter-spacing: 0.5rem;
    line-height: 1.1;
    font-weight: 300;
  }
  .subtitle {
    display: inline-block;
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: var(--font-lg);
    font-weight: 400;
    letter-spacing: 0.8rem;
    margin-top: 0;
  }

  .hero {
    display: grid;
    width: 100%;
    min-height: 100dvh;
    position: relative;
    padding: 10vw;
  }

  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55% 50%;
    z-index: -100;
    filter: brightness(0.12);
  }

  .contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .contact__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  @media (min-width: 768px) {
    .title {
      padding-top: 0;
    }

    .hero::before {
      background-position: 70% 30%;
    }
  }

  @media (min-width: 1280px) {
    .hero::before {
      background-position: 70% 45%;
    }
  }

  .hero-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    height: 100%;
    position: relative;
  }
</style>
